.ListItems {
  padding: 5px;
}

.note {
  display: flex;
  justify-content: space-between;
  background-color: red;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.delete {
  background: rgba(17, 122, 255, 1) 100%;
color: white;
  font-size: 20px;
  border: none;
}
