.ListItems {
  padding: 5px;
}

.note {
  display: flex;
  justify-content: space-between;
  background-color: red;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.delete {
  background: rgb(36, 128, 248) 100%;
  color: white;
  font-size: 20px;
  border: none;
  margin: 0 10px;
}

.edit {
  background: rgba(17, 122, 255, 1) 100%;
  color: white;
  font-size: 20px;
  border: none;
  margin: 0 10px;
}

.empty-note {
  color: rgb(8, 8, 8);
  text-align: center;
  margin-top: 10px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.edit-form {
  display: flex;
  justify-content: center;
}
