.add {
  height: 40px;
  width: 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
.form-container {
    display: flex;
    justify-content: center;
  /* background: linear-gradient(90deg, rgb(21, 8, 46) 0%, rgb(11, 8, 12) 100%); */
  padding: 16px;
}

.todo-input {
    padding: 10px;
  height: 40px;
  width: 400px;
  outline: none;
  border: 2px solid
    linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}
